# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git-flow is looking outside of the root of the project
../*
Alt Prize Wheel/
Canvas Game - Pigs Fly/
Chrome Extensions/
Eddie/
GitHub Projects/
HTML Preprocessor Idea.rtf
Haiku/
Horoscopes/
Ionic Projects/
Local Storage/
PWA App/
Phone Gap Projects/
Plugins/
Pop/
Python/
React/ReactNativeWeatherApp/
React/albums/
React/ashley/
React/auth/
React/bitbucket-caleb/
React/clean-ui/
React/lm-builder/
React/make-better-money/src/.gitignore
React/manager/
React/techstack/
What to Do/
crossxml/
lazyLoad/
loadbar/
messages.xml
scratch-off/
swipe/
